In [41]:
# inspired by https://towardsdatascience.com/supercharging-ms-sql-server-with-python-e3335d11fa17
import pyodbc
from datetime import datetime

In [42]:
class Sql:
    def __init__(self, database, server="10.5.0.108"):

        # connection string
        self.con = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                                   "Server="+server+";"
                                   "Database="+database+";"
                                   "Trusted_Connection=yes;")
        
    def query(self, query):
        cur = self.con.cursor()  # create execution cursor        
        try:
            cur.execute(query)  # execute
            for row in cur.fetchall():
                print(row)
        except pyodbc.ProgrammingError as error:
            print("Warning:\n{}".format(error))  # print error as a warning

        self.con.commit()  # commit query to SQL Server
        return "Query complete."

In [43]:
sql = Sql(database = 'HurtowniaDanych')  # initialise the Sql object

In [44]:
sql.query("SELECT TOP 10 id_kartoteki, nazwa FROM BAS_Kartoteka")

(14174, '[BOIRON.NATRUM PHOSPHORICUM  15CH')
(14175, '[BOIRON.NATRUM PHOSPHORICUM  30CH')
(14176, 'BOIRON.NUX VOMICA   5CH 4G')
(14177, 'BOIRON.PULSATILLA  30CH 4G')
(14178, '[BOIRON.SYMPHYTUM OFFICINALE  5CH')
(14179, '[BOIRON.TABACUM   9CH')
(14180, 'BOIRON.KALIUM PHOSPHORICUM 30CH')
(14181, 'SEROXAT 20MG * 30 TABL.           /GLAXO')
(14182, '[RAJSTOPY P.TERESA UCISKOWE ROZM. S  BEŻ')
(14183, '[RAJSTOPYP.TERESA P/REUMAT.ROZM.M    BEŻ')

'Query complete.'